.elementor-19 .elementor-element.elementor-element-d753ea7:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-d753ea7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("assets/Image/footer/bg-footer1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-33 .elementor-element.elementor-element-1e67d5c:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-1e67d5c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0C0705;
    background-image: url("assets/Image/Home/bg-counter1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-33 .elementor-element.elementor-element-8471de7:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-8471de7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/slide.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-33 .elementor-element.elementor-element-8471de7:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-8471de7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/slide.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-41 .elementor-element.elementor-element-7f2cff6:not(.elementor-motion-effects-element-type-background),
.elementor-41 .elementor-element.elementor-element-7f2cff6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/bg-section-contact.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-343 .elementor-element.elementor-element-61520f3c:not(.elementor-motion-effects-element-type-background),
.elementor-343 .elementor-element.elementor-element-61520f3c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/team-bg-section.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-347 .elementor-element.elementor-element-082fd20:not(.elementor-motion-effects-element-type-background),
.elementor-347 .elementor-element.elementor-element-082fd20>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/bg-testimonial-section.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7253 .elementor-element.elementor-element-ea9fbce:not(.elementor-motion-effects-element-type-background),
.elementor-7253 .elementor-element.elementor-element-ea9fbce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/h8-bg-section-01.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7253 .elementor-element.elementor-element-333b24f:not(.elementor-motion-effects-element-type-background),
.elementor-7253 .elementor-element.elementor-element-333b24f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/h8-bg-section-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7253 .elementor-element.elementor-element-7ebdc3a:not(.elementor-motion-effects-element-type-background),
.elementor-7253 .elementor-element.elementor-element-7ebdc3a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/h8-bg-section-03.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7253 .elementor-element.elementor-element-ea9fbce:not(.elementor-motion-effects-element-type-background),
.elementor-7253 .elementor-element.elementor-element-ea9fbce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/15151445_5559852.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7253 .elementor-element.elementor-element-333b24f:not(.elementor-motion-effects-element-type-background),
.elementor-7253 .elementor-element.elementor-element-333b24f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/h8-bg-section-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7253 .elementor-element.elementor-element-7ebdc3a:not(.elementor-motion-effects-element-type-background),
.elementor-7253 .elementor-element.elementor-element-7ebdc3a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/Image/Home/h8-bg-section-03.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7339 .elementor-element.elementor-element-5a65a440:not(.elementor-motion-effects-element-type-background),
.elementor-7339 .elementor-element.elementor-element-5a65a440>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("assets/Image/footer/bg-footer1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}